dist: xenial
sudo: false
language: python

env:
- MONGODB_VERSION=3.4
- MONGODB_VERSION=3.6
- MONGODB_VERSION=4.0
python:
- 2.7
- 3.5
- &latest_py3 3.7

matrix:
  allow_failures:
  # https://jira.mongodb.org/browse/SERVER-36792
  - env: MONGODB_VERSION=3.6

jobs:
  fast_finish: true
  include:
  - stage: deploy
    if: tag IS present
    python: *latest_py3
    install: skip
    script: skip
    deploy:
      provider: pypi
      on:
        tags: true
        all_branches: true
      user: jaraco
      password:
        secure: LqAY+QqOlo5aaD+MO5vt8ueTfhR+gFSHMuxOCYZaz8q9j9Y5A96n0p/L7MCf086UIpMEZBuxZUUa3JOQsJ5VNKAyox/knxikuvq/bR4Qt0jfg/BICwfRbwTt6UXZ8J92BcGc+T6TsMztfZtSEsEiA3FH8c+ixiiYH632Z1LVeWZTuAyLWIt3i7Bn99hO5/xV6/bbW7kYUZurl+cFCcm/FZTRaXDpDsO/75G8K2OCHRMe2zXLb3w7X8IMsIptvn73+9HgDQgBwzDKeAtqGOdeNw9RQV2uloGJfrrc+ecqUooXvE2LcFYNID9UbStYrU8ruRALm5z/FaBYsZDY/TetbihOqqXG/5VTSS9nmJOfhS0SS7qyGGpyLj+HNfuswaBd9xECYdFoZLMeT3zvGHXgU94MKz+nu2KoOSgI0f2o03i/6rRdmzp2WN06IgR9VPdcVwgSbzvpwxo+b3aOYBvQzGtIi3P1C4AXc0AclfP5U7FF30+7uS1pallY6gAlAeHrbATh4qT3Cvo1PQYmXS+3KQN0KOFxmoMPAY6yUMF7PIWiavoZjpUP9WTHBMxD6WtWhlMJASAryF0SCWiwRMn/HjuM3mkPPBOaRw3Rne6lIXeykbQ2GJJfI21l16uDKohKl4yqPg2L+EdTrRzynXobSzAlqMoK3l6E9OXskF+BxoA=
      distributions: dists
      skip_cleanup: true

cache: pip

install:
- pip install tox tox-venv

before_script:
  - mkdir mongodb
  - wget http://downloads.mongodb.org/linux/mongodb-linux-x86_64-v$MONGODB_VERSION-latest.tgz -q -O - | tar xz -C mongodb --strip-components=1
  - export PATH=$(pwd)/mongodb/bin:$PATH
  # Disable IPv6. Ref travis-ci/travis-ci#8361
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6';
    fi

script:
- tox
- export PATH=$(pwd)/.tox/python/bin:$PATH
- which mongo
- mongo --nodb tests/oplog.js
