language: python

dist: trusty

python:
  - 2.7
  - 3.2
  - 3.3
  - 3.4

before_script:
  - "sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10"
  - "echo 'deb http://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.0 multiverse' | sudo tee /etc/apt/sources.list.d/mongodb-org-3.0.list"
  - "sudo apt-get update"
  - "sudo apt-get install mongodb-org"
  # - "until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done"

script:
  - python setup.py test
  - pip install -e .
  - mongo --nodb tests/suite.js
